CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

build/
local_lib/bme/bsec/*
!local_lib/bme/bsec/CMakeLists.txt
!local_lib/bme/bsec/README.md
src/class-a/lora-config.h
src/class-c/lora-config.h

.vscode
putty.log