CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

build/
lora_sensor/bme/bsec/*
!lora_sensor/bme/bsec/CMakeLists.txt
!lora_sensor/bme/bsec/README.md
lora_sensor/lora-config.h
.vscode
putty.log